includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/nunomaduro/larastan/rules.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    level: 8
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts#'
    excludePaths:
        - database/migrations
        - storage
